.main-navigation{
   background-color: red;

    ul {
        display: flex;
        padding: 0;
        margin: 0;
        list-style: none;

        a {
            display: block;
            color: #fff;
            padding: 20px;
            text-decoration: none;

            &.active {
                background-color: grey ;
                border: none;
            }
        }
    }
}

.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}